body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

body::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    /*  background: antiquewhite; */
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
     border-radius: 40px;
    background: rgba(78, 78, 78, 0.288);
    width: 7px;
  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(78, 78, 78, 0.401);
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: rgba(78, 78, 78, 0.774);
  }

::selection{
    background-color: #1ee4a5;
    color: antiquewhite;
}
.header {
    /*  background-color: transparent; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
}

.login {
    /*  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}



.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--input {
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    background-color: rgba(255, 255, 255, 0.058);
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 0px 20px;
    height: 50px;
    border-radius: 25%;
    color: white;
}

::placeholder {
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

.button {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.273);
    padding: 10px 15px;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px;
    margin: 1.4rem 0;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}

.login__container--remember-me {
    display: flex;
    justify-content: space-between;
}

.login__container--remember-me a {
    color: white;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media>div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.login__container--social-media>div>img {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}


.login__container--register a {
    color: white;
    text-decoration: none;

}

.login__container--register a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 3rem;
    margin-bottom: 20px;
    margin-left: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 1rem 10rem 0;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login__container {
        border: none;
        background-color: transparent;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    }

}

@media only screen and (max-width: 540px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer a {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 350px) {
    .login__container--remember-me {
         flex-direction: column;
    }

    .login__container--remember-me a{
        margin-top: 15px;
    }
}